* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 60px;
  /* height of the navbar */
  scroll-behavior: smooth;
  /* smooth scrolling */
}




/* CSS for the body */
body {
  background-color: #d8d8d8;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: rgb(60, 112, 255);
  background-image: linear-gradient(315deg, rgb(120, 156, 255) 0%, rgb(26, 101, 214) 74%);
  background-image: url(Backgrounds/background_2.webp);
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  transition: opacity 2s;
  overflow-x: hidden;
}

/* .............................................. */




/* CSS for the navbar */

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-grid;
}

#navbar {
  background-color: #000000;
  border-radius: 15px;
  overflow: hidden;
  position: sticky;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  top: 2%;
  z-index: 3;
}

#navbar span {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  margin: 0;
}

#navbar span:hover {
  color: red;
  /* sets the color of the navbar text when hovered over */
}

#selected {
  background-color: rgb(0, 119, 255);
  /* sets the background color of the selected page */
  color: black;
  /* sets the text color of the selected page */
}

/* .............................................. */





/* CSS for the Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #57575771;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000dff;
  border: 5px solid #000dff;
  border-radius: 3px;
}

/* .............................................. */