* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

html {
  scroll-padding-top: 60px; /* height of the navbar */
  scroll-behavior: smooth;  /* smooth scrolling */
}


/* CSS for the navbar */

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-grid;
}

#navbar {
  background-color: #000000;
  border-radius: 15px;
  overflow: hidden;
  position: sticky;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  top: 2%;
  z-index: 3;
}

#navbar span {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  margin: 0;
}

#navbar span:hover {    
  color: red;     /* sets the color of the navbar text when hovered over */
}

#selected {   
  background-color: rgb(0, 119, 255);   /* sets the background color of the selected page */
  color: black;                      /* sets the text color of the selected page */
}

/* .............................................. */




/* CSS for the body */
body {
  background-color: #d8d8d8;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: rgb(60, 112, 255);
  background-image: linear-gradient(315deg, rgb(120, 156, 255) 0%, rgb(26, 101, 214) 74%);
  background-image: url(Backgrounds/background_2.webp);
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  transition: opacity 2s;
  overflow-x: hidden;
}

/* .............................................. */




/* CSS for the timeline */

.container {
  padding: 2rem;
  padding-bottom: 400px;
  margin: 0 auto;
  max-width: 800px;
}

.top-section {
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}

.timeline {
  position: relative;
  min-height: 150px;
}

.line {
  position: absolute;
  left: calc(50%);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: #000;
  display: none;
}

.line:before,
.line::after {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content {
  width: calc(50% - 2rem);
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

h1 {
  font-weight: 400;
  letter-spacing: 1px;
}

/* .............................................. */




/* CSS for the cards in the Timeline section */

/* Sets the width, height, and perspective of the card element */
.card {
  width: 200px;
  height: 250px;
  perspective: 800px;
}

/* Sets the position, height, and transform style of the card inner element, which is the part that rotates on hover */
.cardInner {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  /* Adds a smooth transition effect to the hover rotation */
}

/* Defines the hover effect, which triggers a 180-degree rotation of the card inner element */
.card:hover .cardInner {
  transform: rotateY(180deg);
}

/* Sets the position, display, and visibility of the card body, which is the front and back of the card */
.cardBody {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  backface-visibility: hidden;
  /* Hides the back of the card when it is flipped */
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

/* Sets the background image of the front of the card, which is a radial gradient */
.cardFront {
  background-image: radial-gradient(circle 248px at center,
      #16d9e3 0%, #30c7ec 47%,
      #46aef7 100%);
}


/* Sets the background color and rotation of the back of the card */
.cardBack {
  background-color: #5dffc1;
  transform: rotateY(180deg);
}

/* Sets the margin and color of the text content within the card */
.cardInfo {
  margin: 2%;
  margin-left: 5%;
  color: #000000;
}

/* Sets the border radius of the card image */
.cardImg{
  border-radius: 8px;
}

/* .............................................. */




/* CSS for the InfoContainer */

#InfoContainer {
  background-color: #333;
  border-radius: 50px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

#LeftColumn {
  flex:1;
  margin-right: 20px;
  text-align: center;
}

#RightColumn {
  flex:2;
  color: #fff;
}

#title {
  font-size: 30px;
  margin-bottom: 20px;
}

/* .............................................. */




/* CSS for the Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #57575771;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000dff;
  border: 5px solid #000dff;
  border-radius: 3px;
}

/* .............................................. */




/* CSS for the Social Media Icons */
.icons {
	display: flex;
	column-gap: 25px;
  margin-top: 10px;
  justify-content: center;
}

.icon {
 
	display: inline-flex;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-size: 26px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}

.icon:hover {
	outline-offset: 4px;
}

.instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}

.gps:hover {
	background-color: #76cb08;
	outline-color: #76cb08;
}

.email:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}

.github:hover {
	background-color: #9243da;
	outline-color: #9243da;
}

.iconImg {
  width: 75%;
  height: 75%;
  margin: auto;
}

/* .............................................. */




/* CSS for the Profile Picture */
#pfp {
  width: 70%;
  height: auto;
  border-radius: 15px;
}

/* .............................................. */




/* CSS for the parallax effect */

.parallax {
  margin-top: 40px;
  
  height: 35rem;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back1 {
  background-image: url("Backgrounds/back1.jpg");
}

.back2 {
  background-image: url("Backgrounds/back2.jpg");
}