/* CSS for the InfoContainer */

#InfoContainer {
  background-color: #404040;
  border-radius: 50px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

#LeftColumn {
  flex: 1;
  margin-right: 20px;
  text-align: center;
}

#RightColumn {
  flex: 2;
  color: #fff;
  font-family: 'calibri';
  font-size: 18px;
}



#title {
  font-size: 30px;
  margin-bottom: 20px;
}

/* .............................................. */




/* CSS for the Social Media Icons */
.icons {
  display: flex;
  column-gap: 25px;
  margin-top: 10px;
  justify-content: center;
}

.icon {

  display: inline-flex;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 4px;
  animation: SocialSpin 1s ease 0s 1 normal forwards;
}

.instagram:hover {
  background-image: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
  outline-color: #a02d76;
}

.gps:hover {
  background-color: #76cb08;
  outline-color: #76cb08;
}

.email:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.github:hover {
  background-color: #9243da;
  outline-color: #9243da;
}

.iconImg {
  width: 75%;
  height: 75%;
  margin: auto;
}

/* .............................................. */




/* CSS for the Profile Picture */
#pfp {
  width: 70%;
  height: auto;
  border-radius: 15px;
}

/* .............................................. */



/* CSS to spin the social media icons 360 degrees */
@keyframes SocialSpin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .............................................. */


@media (prefers-color-scheme: dark) {
  .iconImg {
    filter: invert(1);
  }

  a {
    text-decoration: none;
    color: #d4b4ff;
  }
}


@media (prefers-color-scheme: light) {
  #InfoContainer {
    background-color: #e4e4e4;
  }

  a {
    text-decoration: none;
    color: #4c49ff;
  }

  .icon {
    outline-color: #000000;
  }

  .instagram:hover {
    outline-color: #000000;
  }
  
  .gps:hover {
    outline-color: #000000;
  }
  
  .email:hover {
    outline-color: #000000;
  }
  
  .github:hover {
    outline-color: #000000;
  }
  
  #RightColumn {
    color: #000000;
  }

  #pfp {
    border: 2px solid #000000;
  }

}