
/* CSS for the parallax effect */

.parallax {
    margin-top: 40px;
  
    height: 35rem;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .back1 {
    background-image: url("../Backgrounds/back1.jpg");
  }
  
  .back2 {
    background-image: url("../Backgrounds/back2.jpg");
  }
  
  
  /* .............................................. */

#googleMap {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    border: 5px solid black;
    border-radius: 50%;
  }